
body{
  background-color: gainsboro;
}

.navbar {
    color: purple;
}

h1{
  color: #CC1414;
}

.titulo1{
  color: black;
 
  
}
  
.parrafo1{
  font-weight: bold;
  
}

.caja{
  margin-top: 12px;
  background-color: whitesmoke;
}
.col{
  background-color: white;
}